.calculator {
    padding: 1%;
    background-color: silver;
    width: 300px;
}

#display {
    margin: 1%;
    height: 44px;
    background-color: cornflowerblue;
    color: white;
    padding: 2%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.row {
    font-size: 0;
}

.row button {
    width: 23%;
    height: 40px;
    margin: 1%;
    font-weight: bold;
    font-size: 20px;
}

.row.first-row {
    text-align: right;
}

.row.first-row button {
    font-weight: normal;
    font-size: 14px;
}

.row .result-button {
    width: 48%;
}