
#display-area {
    margin-top: 3em;
    background-color: gainsboro;
    padding: 1em;
}

.note-container {
    background-color: rgb(255, 255, 201);
    padding: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}